.react-calendar__tile {
    border: 1px solid #ddd; 
    color: #000; 
}
 
.react-calendar {
    width: 350px; 
    height: 300px;
    max-width: 100%;
    border: none !important;
}

.react-calendar__tile--now {
    border: 2px solid #ff0000; 
    color: #ff0000;
}

.react-calendar__tile--active {
    color: #FFFFFF; 
    background: #4364F7;
    border-radius: 50%;
    height: 40px;
}
  
.react-calendar__tile:hover {
    background: #4364F7;
    border-radius: 50%;
    height: 40px;
}

.react-calendar__tile {
    background: #F0F3FF;
    border-radius: 50%;
    color: #363B47;
}

.react-calendar__tile:hover .react-calendar__tile-content {
    background: #ff0000; 
    border-radius: 50%; 
    padding: 0.25rem; 
    position: absolute; 
    top: 50%;
    left: 50%;
}
